<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
</html>
<body>
  <h1><%=title%></h1>
  <form action="/addMovie" method="POST">
    <label for="movie_name">Title: </label>
    <input type="text" name="movie_name" id="movie_name" required />
    <label for="release_year">Release Year: </label>
    <input type="number" name="release_year" id="release_year" />

    <label for="director_id">Choose a director:</label>

    <select name="director_id" id="director_id" type="number">
      <% directors.forEach((director) => {%>

      <option value="<%=director.director_id%>">
        <%=director.director_name%>
      </option>

      <%})%>
    </select>

    <label for="genres">Select genres: </label>
    <select name="genres[]" id="genres" multiple>
      <% genres.forEach((genre) => { %>

      <option value="<%=genre.genre_id%>"><%=genre.genre_name%></option>

      <% }) %>
    </select>
    <button type="submit">Submit</button>
  </form>
</body>
