<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
  </head>
  <body>
    <h1><%=title %></h1>
    <a href="/">All Movies</a>
    <a href="/addMovie">Add Movie</a>
    <a href="/addGenre">Add Genre</a>
    <% if (genres) { %>
    <ul>
      <% genres.forEach((genre) => { %>
      <li>
        <a href="/genres/<%=genre.genre_id%>"><%=genre.genre_name%></a>
        <a href="/genres/<%=genre.genre_id%>/update">Update</a>
        <a href="/genres/<%=genre.genre_id%>/delete">Delete</a>
      </li>

      <% }) %>
    </ul>
    <% } %>
  </body>
</html>
