<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
  </head>
  <body>
    <h1><%=title %></h1>
    <a href="/addMovie">Add Movie</a>
    <a href="/addDirector">Add Director</a>
    <a href="/addGenre">Add Genre</a>

    <% if (locals.movies) { %> <% movies.forEach((movie) => { %>
    <ul>
      <li>Name: <%=movie.movie_name%></li>
      <li>Release Year: <%=movie.release_year%></li>
      <li>Director: <%=movie.director_name%></li>
      <% if (movie.genres) { %>
      <p>Genres:</p>

      <ul>
        <% movie.genres.forEach((genre) => { %>

        <li><%=genre%></li>

        <% }) %> <% } %>
      </ul>
    </ul>
    <% }) %> <% } %>
  </body>
</html>
