<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% console.log(movie_genres)%>
  </head>
</html>
<body>
  <h1><%=title%></h1>
  <a href="/">All Movies</a>
  <a href="/addMovie">Add Movie</a>
  <a href="/genres">Genres</a>
  <form action="/movies/<%=movie.movie_id%>/update" method="POST">
    <label for="movie_name">Title: </label>
    <input
      type="text"
      name="movie_name"
      id="movie_name"
      value="<%=movie.movie_name%>"
    />
    <label for="release_year">Release Year: </label>
    <input
      type="number"
      name="release_year"
      id="release_year"
      value="<%=movie.release_year%>"
    />

    <label for="director">Director:</label>
    <input
      type="text"
      name="director"
      id="director"
      value="<%=movie.director%>"
    />

    <label for="image">Image url:</label>
    <input type="text" name="image" id="image" />

    <label for="genres">Select genres: </label>
    <select name="genres[]" id="genres" multiple>
      <% genres.forEach((genre) => { %> <% const isSelected =
      movie_genres.includes(genre.genre_id) ? 'selected' : null %> <%
      console.log(isSelected)%> <% if (isSelected) { %>
      <option value="<%=genre.genre_id%>" selected>
        <%=genre.genre_name%>
      </option>

      <% } else { %>

      <option value="<%=genre.genre_id%>"><%=genre.genre_name%></option>

      <% } %> <% }) %>
    </select>

    <button type="submit">Submit</button>
  </form>
</body>
