<!DOCTYPE html>
<html>
  <head>
    <% console.log(movie)%>
    <title><%=title%></title>
  </head>
  <body>
    <h1><%=title %></h1>

    <ul>
      <li>Name: <%=movie.movie_name%></li>
      <li>Release Year: <%=movie.release_year%></li>
      <li>Director: <%=movie.director_name%></li>
      <% if (movie.genres) { %>
      <p>Genres:</p>

      <ul>
        <% movie.genres.forEach((genre) => { %>

        <li><%=genre%></li>

        <% }) %> <% } %>
      </ul>
    </ul>
  </body>
</html>
